@charset "utf-8";
/*Documento original CSS*/

body {
   font-family: 'Handlee', cursive;
   background-color: #ffffff;
}

#cabecera {
   background-color: #05225a;
   height: 150px;
   border-radius: .5em;
   max-width: 90%;
   margin: auto;
   text-align: center;
   text-shadow: 0.1em 0.1em 0.2em rgb(18, 0, 121);
}

.navegacionPrin {
   list-style: none;
   background: #f35454;
   padding: 0px;
   max-width: 90%;
   margin: auto;
   margin-top: 10px;

}

.navegacionPrin li a {
   text-decoration: none;
   text-shadow: 0.1em 0.1em 0.2em black;
   color: black;
   padding: 20px;
   display: black;
   border-radius: .5em;
}

.navegacionPrin li {
   display: inline-block;
   text-align: center;
   background-color: #e77878;
   color: black;
}

.navegacionPrin li a:hover {
   background: #2d3e50;
   color: #f5f8fa;
   text-shadow: 0.1em 0.1em 0.2em black;
}

li {
   background-color: #FFFFFF;
   text-decoration: none;
   padding: 20px;
}

#cont {
   max-width: 90%;
   margin: auto;
   background-color: white;
   min-height: 500px;
}

#contenidoPrin {
   border-radius: .5em;
   background-color: #FFFFFF;
   margin-right: 30px;
   margin-left: 30px;
   margin-top: 15px;
   margin-bottom: 15px;
   padding-left: 15px;
   padding-top: 15px;
   min-height: 500px;
   /*border: 1px solid;
    border-color: #2d3e50;*/
}


.wrapper {
   margin: 10px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: minmax(100px, auto);
 }


#piePrin {
   background-color: #696a6b;
   clear: both;
   margin-top: 30px;
   height: 150px;
   border-radius: .5em;
   max-width: 90%;
   margin: auto;
   text-align: center;
}

h2 {
   color: black;
   font: normal 16px arial;
}


h3 {
   color: #2d3e50;
   font: normal 22px arial;
   font-weight: bold;
}

h3 span {
   border: 4px dashed #20bcd5;
   padding: 10px
}

h4 {
   color: #FFFFFF;
   font: normal 20px arial;
}